@model IEnumerable<Proyecto.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        margin: 20px;
    }

    h1 {
        text-align: center;
        color: #343a40;
        margin-bottom: 20px;
        font-weight: 600;
    }

    table {
        width: 90%;
        border-collapse: collapse;
        margin: 30px auto;
        background-color: #ffffff;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    }

    thead {
        background-color: #000000;
        color: white;
    }

    th, td {
        padding: 14px 20px;
        text-align: center;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin: 5px 4px;
        font-size: 0.9rem;
        font-weight: 600;
        text-decoration: none;
        border-radius: 8px;
        border: none;
        text-align: center;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007bff;
        color: #ffffff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-secondary {
        background-color: #f00f0f;
        color: #ffffff;
    }

        .btn-secondary:hover {
            background-color: #b21212;
        }

    p a {
        margin-right: 10px;
    }
</style>

<h1>Lista de Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nuevo Producto</a> 
    <a asp-action="OutOfStock" class="btn btn-primary">Reporte de Productos Fuera de Stock</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promocion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promocion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class="btn btn-primary" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new{ @class = "btn btn-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>
